<div class="site-section section-2 bg-light" id="process-section" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="section-title">Our Approach</h2>
                <p>We also organize workshops for high school students like EKAODY, for colleges like
                    MyFirstProgram, This workshop is mentored by our members.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="process bg-white rounded">
                    <div>
                        <span class="flaticon-reload display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>EKAODY</h3>
                        <p>This program aims to guide high school students in the scientific field,in which we create a
                            mini-program with scratch,blockly and python tools.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="process bg-white rounded">
                    <div>
                        <span class="flaticon-vector display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>MyFirstProgram</h3>
                        <p>This program is a holiday workshop for young people between 10 and 17 years old,it
                            aims to create a mini-program with python and blockly.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="process bg-white rounded">
                    <div>
                        <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Trainings</h3>
                        <p>We also have trainings for our members, to reinforce them in programming language,
                            data structure, algorithm trained by the professionals in the field.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
