<div class="site-section section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto mb-5" data-aos="fade-up">
                <div class="mb-5">
                    <h2 class="section-title">Our community</h2>
                    <p>We are a community for students, self-taught, geek and computer enthusiasts to let them share
                        their expertise in the field of new technology, we believe that young Malagasy has many
                        talents in the field of computing.</p>
                    <p class="mb-5">There are four communities in Techzara, Geeka Girls, Electronics and Robotics,
                        Developers, Network and System. We organize workshops every Saturday to share news or create
                        cool things in the tech field.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="image-absolute-box">
                    <div class="box" style="margin-top: 25%">
                        <div class="icon-wrap"><span class="flaticon-vector"></span></div>
                        <h3>Techzara Vam</h3>
                        <p>Electronics and Robotics community project.</p>
                    </div>
                    <img src="{{ asset('techzara_image/vam.jpg') }}" alt="Techzara Vam" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
