<div class="intro-section custom-owl-carousel" id="home-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mr-auto" data-aos="fade-up">
                <div class="owl-carousel slide-one-item-alt-text">
                    <div class="slide-text">
                        <h1>More than a community</h1>
                        <p class="mb-5">We are a community for developers, geek, self-taught, passionate about computing, students or professionals.</p>
                    </div>
                    <div class="slide-text">
                        <h1>We make cool things</h1>
                        <p class="mb-5">We create many internal projects by our members , like Sekoliko , EKAODY , MyFirstProgram.</p>
                    </div>
                    <div class="slide-text">
                        <h1>Awesome meetup and feeling</h1>
                        <p class="mb-5">We have a meeting every Saturday , our goals is to share about new Technologies , language or tools.</p>
                    </div>
                    <div class="slide-text">
                        <h1>Amazing events with team leading.</h1>
                        <p class="mb-5">We organize many events like Hackathon , to create relationship between all people who are interested in new Technologies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <div class="owl-carousel slide-one-item-alt">
                    <img src="{{ asset('techzara_image/community.jpg') }}" alt="Team building" class="img-fluid slide-1">
                    <img src="{{ asset('techzara_image/electronique.jpg') }}" alt="Electronics and robotics community"
                         class="img-fluid slide-1">
                    <img src="{{ asset('techzara_image/meetup.jpg') }}" alt="Saturday meetup" class="img-fluid slide-1">
                    <img src="{{ asset('techzara_image/event.jpg') }}" alt="Hackathon inter university" class="img-fluid slide-1">
                </div>

                <div class="owl-custom-direction">
                    <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
                    <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
                </div>

            </div>
        </div>
    </div>
</div>
