<div class="site-section testimonial-wrap custom-owl-carousel" id="testimonials-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5" data-aos="fade-up">
            <div class="col-lg-6 mb-5 text-center">
                <h2 class="section-title w-100 mx-auto">Our Amazing Team</h2>
                <p>To better organize, we have leaders in our association.</p>
            </div>
        </div>
        <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5 mr-auto">
                <div class="owl-carousel slide-one-item-alt-text">
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>I'm proud of Techzara, as well as their spirit to share with one
                                another their knowledge.<span>&rdquo;</span></p>
                            <p class="author">&mdash; Fenosoa Razafimandimbilaza</p>
                        </blockquote>
                    </div>
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>Techzara is my family, there I meet a lot of different young people.<span>&rdquo;</span>
                            </p>
                            <p class="author">&mdash; Julien Rajerison</p>
                        </blockquote>
                    </div>
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>It is fun to care for young people and it's good to share skills with others<span>&rdquo;</span></p>
                            <p class="author">&mdash; Mitia Andria</p>
                        </blockquote>
                    </div>
                    <div class="slide-text">
                        <blockquote>
                            <p><span>&ldquo;</span>It's really great to share with people who feel the same like you.<span>&rdquo;</span></p>
                            <p class="author">&mdash; Hery Ranaivoarisoa</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="owl-carousel techzara-admin slide-one-item-alt">
                    <img src="{{ asset('techzara_image/fenosoa.png') }}" alt="Parrain Techzara" class="img-fluid">
                    <img src="{{ asset('techzara_image/jul.jpg') }}" alt="Techzara admin" class="img-fluid">
                    <img src="{{ asset('techzara_image/mitia.jpg') }}" alt="Techzara admin" class="img-fluid">
                    <img src="{{ asset('techzara_image/hery.jpg') }}" alt="Techzara admin" class="img-fluid">
                </div>
                <div class="owl-custom-direction">
                    <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
                    <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
