<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Techzara Madagascar!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Techzara website"/>
    <meta name="keywords" content="techzara, techzara-website, techzara-blog, blog, community, madagascar, developer, symfony, symfony-api"/>
    <meta name="author" content="techzara.org"/>
    <link rel="shortcut icon" href="{{ asset('techzara_image/icon.jpeg') }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Muli:300,400,700,900" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('front') }}
    {% endblock %}
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
{% include 'menu/_top_menu.html.twig' %}
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    {% block body %}{% endblock %}
</div>
{% block footer %}
    {% include 'footer/_footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}
</body>
</html>
