{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
         id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="https://www.techzara.org">Techzara</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter clear-filter purple-filter"
         style="background-image: url('{{ asset('image/caspar-rubin-224229-unsplash.jpg') }}');">
        <div class="container text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Welcome to Techzara Blog API</h1>
                    <br>
                    <a href="{{ path('api_doc') }}" class="btn btn-lg btn-secondary btn-round">See the docs</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.techzara.org">
                            Techzara
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear().toString())
                </script>
                , Edit with <i class="material-icons">favorite</i> by
                <a href="https://www.techzara.org" target="_blank">Techzara</a>.
            </div>
        </div>
    </footer>
{% endblock %}
