<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="{{path('front_rendering') }}" class="text-uppercase">TECHZARA</a>
            </div>
            <div>
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-xl-block"></ul>
                </nav>
            </div>
            <div class="ml-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-xl-block">
                        <li><a href="https://blog.techzara.org" target="_blank" class="nav-link">Blog</a></li>
                        <li><a href="{{ path('api_doc') }}" target="_blank" class="nav-link">API</a></li>
                        <li><a href="#contact-section" class="nav-link">CONTACT</a></li>
                    </ul>
                </nav>
                <a href="#"  class="d-inline-block d-xl-none site-menu-toggle js-menu-toggle float-right">
                    <span class="icon-menu h3"></span>
                </a>
            </div>
        </div>
    </div>
</header>
